---
layout: default
---
<style>
p a
{
  color: black !important;
  text-decoration: none;
  border-bottom: .0625em solid #dcf3ff;
  box-shadow: 0 -.4em 0 #dcf3ff inset;
}

p a:hover, p a:active, p a:focus {
  border-color: #aedbf9;
  box-shadow: 0 -.75em 0 #aedbf9 inset;
}

p .reversefootnote {
  border: none;
  box-shadow: none;
}

p .reversefootnote:hover, p .reversefootnote:active, p .reversefootnote:focus {
  border-color: none;
  box-shadow: none;
}

</style>
<div style="text-align: center;">
  <img style="border-radius: 50%; max-width: 250px;" src="{{ page.headshot }}">
</div>
<div class="post">
  <header class="post-header">
    <h1 class="h2">{{ page.title }}</h1>
  </header>
  <article class="post-content">
  {{ content }}
  </article>
</div>
